In [ ]:
# Intro to Tuple datatypes:
# Definition: An imutable list is called as tuple data type.
# Classification: it is classified as immutable data type.
# how to define the tuple data type ---> ()

In [2]:
students = ('nikhil','praveen','raheem','imran','keerthi','farida')
print(students)

('nikhil', 'praveen', 'raheem', 'imran', 'keerthi', 'farida')

In [3]:
type (students)

tuple

In [ ]:
# req: Change nikhil name to naveed

In [4]:
students[0] = 'naveed'

TypeError: 'tuple' object does not support item assignment

In [5]:
dimensions = (200, 50)
print(dimensions)

(200, 50)

In [ ]:
# req: change the dimension from 200 to 250.

In [6]:
dimensionns = (250, 50)
print(dimensionns)

(250, 50)

In [7]:
print(students)

('nikhil', 'praveen', 'raheem', 'imran', 'keerthi', 'farida')

In [ ]:
# req: i want to get the praveen name in the output.

In [9]:
print (students[1])

praveen

In [ ]:
#req: inplement a for loop on to the tuple:

In [12]:
for x in students:
    print(x)

nikhil
praveen
raheem
imran
keerthi
farida